.list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list__section {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 1000px;
}

.list > form {
  margin-right: 40px;
}
